.header {
    height: 80px;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    border-bottom: 4px solid orange;
}

.header img {
    width: 4%;
}

.header a {
    text-decoration: none;
    color: orange;
    font-size: 18px;
    margin-right: 40px;
    font-weight: bold;
}